/* 
    Author     : Chuan Li <chuan.li at vcanbridge.com>
*/

body {
    background-color: #999999;
    font-size: 1em;
    font-family: "Times New Roman", Times, serif;
    background-image: url( ../images/cambridge.jpg )
}

#outer {
    width: 60%;
    background-color:#FFFFFF;
    margin: 30px auto;
    padding: 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#header {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

#nav {
    width: 80%;
    margin: 0 auto;
}

#main {
    width: 80%;
    margin: 0 auto;
}

#footer {
    width: 80%;
    height: 40px;
    margin: 0 auto;
}

ul { 
    text-align: center; 
}

li { 
    display: inline-block; 
    padding-right: 20px;
} 

.form_element { 
    padding-top: 10px;
}

.note { 
    font-size: 0.75em;
}

.error {
    color: red;
    padding-right: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}